<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', { title: 'Marketplace' }) %>
  <body class="flex relative bg-fuchsia-500/5 overflow-hidden overflow-y-auto">
    <%- include('../partials/side_menu') %>
    <main
      class="flex relative flex-col gap-5 grow min-h-screen px-5 py-8 md:p-10 max-w-6xl mx-auto overflow-hidden overflow-y-auto"
    >
      <%- include('../partials/msg_toast') %>
      <div class="text-center font-serif text-[#dfb253]">
        <h1 class="text-3xl sm:text-5xl font-spray text-[#227791]">
          Eventreatise's Marketplace
        </h1>
        <h5 class="font-semibold uppercase leading-5 pt-2">
          Where your search for the perfect event space is over
        </h5>
      </div>
      <div
        class="h-64 rounded-full bg-[url('/assets/bg_illustration.jpg')] bg-no-repeat bg-cover"
      ></div>
      <form
        method="post"
        class="flex flex-wrap w-full justify-center items-center gap-4 font-sans font-medium text-[#2a5c56]"
      >
        <div class="flex gap-2 items-center mr-auto">
          <label for="search-property-select w-5/12">Search by:</label>
          <select
            name="searchProperty"
            id="search-property-select"
            class="p-2 text-[#227791] bg-[#7ab9af]/30 rounded-md w-7/12"
          >
            <option value="name">Name</option>
            <option value="location">Location</option>
            <option value="maxCapacity">Maximum Capacity</option>
          </select>
        </div>
        <div class="flex">
          <input
            type="search"
            name="searchSpace"
            placeholder="Search for event spaces..."
            class="p-2 w-8/12"
          />
          <button class="bg-[#dfb253] p-2 rounded-tr-md rounded-br-md w-4/12">
            Search
          </button>
        </div>
      </form>
      <div
        class="overflow-x-auto overflow-y-hidden flex items-center gap-3 font-rubik py-3"
        id="category-list"
      >
        <a
          href="/dashboard/marketplace?category=all"
          class="py-2 px-3 bg-[#227791] text-[#dfb25a] rounded-full min-w-max"
          >All</a
        >
        <% for (const category of categories) { %>
        <a
          href="/dashboard/marketplace?category=<%= category.name %>"
          class="py-2 px-3 bg-[#227791] text-[#dfb25a] rounded-full min-w-max"
          ><%= category.name %></a
        >
        <% } %>
      </div>
      <section class="grid gap-3 grid-cols-auto" id="event-spaces">
        <% if (categories.length == 0) { %>
        <h2
          class="text-4xl font-serif font-bold text-[#a05231] text-center my-5 px-2"
        >
          No
          <span
            class="font-rubik bg-[url('https://uploads-ssl.webflow.com/61cee5eb4d566d3471eca114/61d2f2e602a2a8b328d55188_underline%205.svg')] bg-no-repeat bg-contain bg-bottom"
            >Event Space</span
          >
        </h2>
        <% } %> <% for (const category of categories) { %> <% for (const space
        of category.eventSpaces) { %>
        <article
          class="flex flex-col relative justify-between rounded-lg shadow-md shadow-[#227791]"
        >
          <% if (space.booked) { %>
          <span
            class="absolute right-0 top-0 text-[#227791] font-rubik bg-[#dfb25a] py-1 px-2 rounded-tr-lg"
            >Booked</span
          >
          <% } %>
          <img
            src="<%= space.photos[0] %>"
            alt="<%= space.name%>"
            class="w-full h-40 object-cover rounded-t-lg"
          />
          <div class="flex gap-2 flex-col">
            <div class="flex gap-2 items-center bg-[#7ab9af]/30 px-2 py-1">
              <img
                src="<%= space.manager.photo %>"
                alt="Manager's picture"
                class="rounded-full w-8 h-8 object-cover"
              />
              <span class="font-rubik text-sm text-[#dfb25a]"
                ><%= space.manager.user.fullName %></span
              >
            </div>
            <h1
              class="font-serif px-2 text-[#227791] text-2xl sm:text-3xl font-semibold"
              id="space-title"
            >
              <%= space.name %>
            </h1>
            <p class="font-serif px-2 text-[#2a5c56] text-sm">
              <%= space.desc.substring(0, 140) %>...
            </p>
          </div>
          <div class="flex gap-2 my-4 px-2 items-center self-center">
            <div
              class="flex gap-1 bg-white p-1 rounded-full items-center min-w-max"
            >
              <img src="/assets/seen.png" alt="Number of views" width="15px" />
              <span class="font-sans font-bold text-sm text-[#227791]"
                ><%= space.views %>
              </span>
            </div>
            <span class="text-[#a05231] font-bold">&diamondsuit;</span>
            <div
              class="flex gap-1 bg-white p-1 rounded-full items-center min-w-max"
            >
              <img src="/assets/likes.png" alt="Number of likes" width="15px" />
              <span class="font-sans font-bold text-sm text-[#227791]">
                <%= space.likes %>
              </span>
            </div>
            <span class="text-[#a05231] font-bold">&diamondsuit;</span>
            <div
              class="flex gap-1 bg-white p-1 rounded-full items-center min-w-max"
            >
              <img
                src="/assets/dislikes.png"
                alt="Number of dislikes"
                width="15px"
              />
              <span class="font-sans font-bold text-sm text-[#227791]">
                <%= space.dislikes %>
              </span>
            </div>
          </div>
          <div
            class="flex gap-2 justify-between w-full px-2 pb-1 items-end font-serif text-[#2a5c56] text-sm"
          >
            <p class="text-[#a05231]">
              Maximum Capacity: <strong> <%= space.maxCapacity %> </strong>
            </p>
            <a
              href="/dashboard/marketplace/<%= space._id %> "
              class="font-serif underline font-bold"
            >
              View More
            </a>
          </div>
        </article>
        <% } %> <% } %>
      </section>
    </main>
  </body>
</html>
