<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', { title: 'Create Event Space' }) %>
  <body class="flex relative bg-fuchsia-500/5 overflow-hidden overflow-y-auto">
    <%- include('../partials/side_menu') %>
    <main
      class="bg-[url('/assets/events.png')] bg-no-repeat bg-contain bg-right-bottom max-w-5xl mx-auto relative flex flex-col gap-5 my-5"
    >
      <%- include('../partials/msg_toast') %>
      <div>
        <h1
          class="uppercase font-spray text-2xl md:text-3xl text-center text-[#227791]"
        >
          Create an Event Space
        </h1>
        <p class="text-[#a05231] text-sm font-serif font-light text-center">
          Be careful! Because some of the information you provide here can never
          be changed on submission.
        </p>
      </div>
      <form
        method="post"
        enctype="multipart/form-data"
        id="space-form"
        class="flex flex-col gap-3 ml-2 lg:mx-0 p-2 bg-white w-full rounded-lg shadow-lg"
      >
        <fieldset class="flex flex-col gap-3">
          <legend
            class="font-rubik pb-2 mb-3 text-lg lg:text-xl text-[#a05231] bg-[url('https://uploads-ssl.webflow.com/61cee5eb4d566d3471eca114/61d2f2e602a2a8b328d55188_underline%205.svg')] bg-no-repeat bg-contain bg-bottom"
          >
            General Information
          </legend>
          <div
            class="border border-fuchsia-500/5 rounded-sm px-1 py-2 flex gap-5 items-center justify-between flex-wrap"
          >
            <p class="font-serif text-[#2a5c56] flex flex-col gap-2 grow">
              <label for="name-field" class="text-md font-semibold">
                Space Name:
                <span aria-label="required" class="font-rubik text-red-500"
                  >*</span
                >
              </label>
              <input
                type="text"
                name="name"
                id="name-field"
                placeholder="Enter the event space name here..."
                required
                class="w-full outline-none border border-[#a05231]/50 rounded-sm indent-1 py-1"
              />
            </p>
            <div class="font-serif text-[#2a5c56] flex flex-col gap-2">
              <label for="category-field" class="text-md font-semibold">
                Space Category:
                <span aria-label="required" class="font-rubik text-red-500"
                  >*</span
                >
              </label>
              <div class="flex gap-2 items-center">
                <select
                  name="category"
                  id="category-field"
                  class="outline-none p-2 bg-[#7ab9af]/30"
                  required
                >
                  <option value="">&mdash; Choose an Option &mdash;</option>
                  <% for (const category of locals.categories) { %>
                  <option value="<%= category._id %>">
                    <%= category.name %>
                  </option>
                  <% } %>
                </select>
                <button
                  type="button"
                  id="create-btn"
                  class="px-2 bg-[#a05231] text-white text-2xl font-rubik rounded-full shadow-lg"
                  title="Create category"
                >
                  &plus;
                </button>
              </div>
            </div>
            <p
              class="font-serif text-[#2a5c56] flex flex-col gap-2 w-full grow"
            >
              <label for="desc-field" class="text-md font-semibold">
                Space Description:
                <span aria-label="required" class="font-rubik text-red-500"
                  >*</span
                >
              </label>
              <textarea
                name="desc"
                id="desc-field"
                rows="10"
                maxlength="3000"
                required
                placeholder="Enter event space description to give your customers more insights..."
                class="w-full outline-none border border-[#a05231]/50 rounded-sm indent-1 py-1"
              ></textarea>
            </p>
            <p class="font-serif text-[#2a5c56] flex flex-col gap-2">
              <label for="photos-field" class="text-md font-semibold">
                Space Photos:
                <span aria-label="required" class="font-rubik text-red-500"
                  >*</span
                >
              </label>
              <input
                type="file"
                name="photos"
                id="photos-field"
                required
                multiple
                class="w-full border p-1 rounded-md border-[#a05231]/50 file:rounded-full file:border-none file:bg-[#dfb253] file:p-2 file:mr-3 file:text-[#2a5c56] file:font-bold"
              />
            </p>
          </div>
          <div class="flex gap-3 justify-end">
            <button
              type="button"
              class="p-2 rounded-md shadow-lg bg-[#a05231] text-white"
              id="prev-btn"
            >
              Previous
            </button>
            <button
              type="button"
              class="p-2 rounded-md shadow-lg bg-[#2a5c56] text-white"
              id="next-btn"
            >
              Next
            </button>
          </div>
          <hr />
        </fieldset>
        <fieldset class="flex flex-col gap-3 hidden">
          <legend
            class="font-rubik pb-2 mb-3 text-lg lg:text-xl text-[#a05231] bg-[url('https://uploads-ssl.webflow.com/61cee5eb4d566d3471eca114/61d2f2e602a2a8b328d55188_underline%205.svg')] bg-no-repeat bg-contain bg-bottom"
          >
            Location Information
          </legend>
          <div
            class="border border-fuchsia-500/5 rounded-sm px-1 py-2 flex gap-5 items-center justify-between flex-wrap"
          >
            <p class="font-serif text-[#2a5c56] flex flex-col gap-2">
              <label for="country-field" class="text-md font-semibold">
                Enter Space Country:
                <span aria-label="required" class="font-rubik text-red-500"
                  >*</span
                >
              </label>
              <input
                type="search"
                list="countries-list"
                name="country"
                id="country-field"
                required
                class="outline-none p-2 rounded-md border-[#a05231]/50 border"
              />
              <datalist id="countries-list">
                <% for (const country of locals.countries) { %>
                <option value="<%= country.name %>"><%= country.name %></option>
                <% } %>
              </datalist>
            </p>
            <p class="flex flex-col gap-2 font-serif text-[#2a5c56]">
              <label for="state-field" class="text-md font-semibold">
                Enter Space State:
                <span aria-label="required" class="font-rubik text-red-500"
                  >*</span
                >
              </label>
              <input
                type="search"
                list="states-list"
                name="state"
                id="state-field"
                required
                class="outline-none p-2 rounded-md border-[#a05231]/50 border"
              />
              <datalist id="states-list">
                <% for (const state of locals.states) { %>
                <option value="<%= state.name %>"><%= state.name %></option>
                <% } %>
              </datalist>
            </p>
            <p class="flex flex-col gap-2 font-serif text-[#2a5c56]">
              <label for="city-field" class="text-md font-semibold">
                Enter Space City:
                <span aria-label="required" class="font-rubik text-red-500"
                  >*</span
                >
              </label>
              <input
                type="search"
                list="cities-list"
                name="city"
                id="city-field"
                required
                class="outline-none p-2 rounded-md border-[#a05231]/50 border"
              />
              <datalist id="cities-list">
                <% for (const city of locals.cities) { %>
                <option value="<%= city.name %>"><%= city.name %></option>
                <% } %>
              </datalist>
            </p>
            <p class="flex flex-col gap-2 font-serif text-[#2a5c56]">
              <label for="postalCode-field" class="text-md font-semibold">
                Enter Postal Code:
              </label>
              <input
                type="text"
                name="postalCode"
                id="postalCode-field"
                class="outline-none p-2 rounded-md border-[#a05231]/50 border"
              />
            </p>
            <p class="flex flex-col gap-2 font-serif text-[#2a5c56] grow">
              <label for="address-field" class="text-md font-semibold">
                Enter Space Address:
                <span aria-label="required" class="font-rubik text-red-500"
                  >*</span
                >
              </label>
              <input
                type="text"
                name="address"
                id="address-field"
                required
                class="outline-none p-2 rounded-md border-[#a05231]/50 border"
              />
            </p>
            <div class="flex flex-col gap-2 font-serif text-[#2a5c56] grow">
              <label for="currency-field" class="text-md font-semibold">
                Enter Space Price:
                <span aria-label="required" class="font-rubik text-red-500"
                  >*</span
                >
              </label>
              <div class="flex items-center rounded-md border-[#a05231]/50 border">
                <select
                  name="currency"
                  id="currency-field"
                  required
                  class="py-2 self-stretch rounded-l-md outline-none bg-gray-200"
                >
                  <% for (const currency of locals.currencies) { %>
                  <option value="<%= currency%>"><%= currency %></option>
                  <% } %>
                </select>
                <input
                  type="number"
                  name="price"
                  required
                  class="p-2 grow outline-none rounded-r-md"
                />
              </div>
            </div>
          </div>
          <div class="flex gap-3 justify-end">
            <button
              type="button"
              class="p-2 rounded-md shadow-lg bg-[#a05231] text-white"
              id="prev-btn"
            >
              Previous
            </button>
            <button
              type="button"
              class="p-2 rounded-md shadow-lg bg-[#2a5c56] text-white"
              id="next-btn"
            >
              Next
            </button>
          </div>
          <hr />
        </fieldset>
        <fieldset class="flex flex-col gap-3 hidden">
          <legend
            class="font-rubik pb-2 mb-3 text-lg lg:text-xl text-[#a05231] bg-[url('https://uploads-ssl.webflow.com/61cee5eb4d566d3471eca114/61d2f2e602a2a8b328d55188_underline%205.svg')] bg-no-repeat bg-contain bg-bottom"
          >
            Additional Information
          </legend>
          <div
            class="border border-fuchsia-500/5 rounded-sm px-1 py-2 flex gap-5 items-center justify-between flex-wrap"
          >
            <p
              class="font-serif text-[#2a5c56] text-md flex items-center gap-1"
            >
              <input
                type="checkbox"
                name="parkingSpace"
                id="ps-field"
                value="1"
                class="appearance-none rounded-md w-5 h-5 bg-[#2a5c56]/10 shadow-lg checked:bg-[#a05231]"
              />
              <label for="ps-field" class="font-semibold">
                Parking Space?
              </label>
            </p>
            <div class="font-serif text-[#2a5c56] flex flex-col gap-2">
              <label for="pss-field" class="text-md font-semibold">
                Parking Space Size:
              </label>
              <p class="flex gap-1 items-center">
                <input
                  type="number"
                  name="parkingSpaceSize"
                  id="pss-field"
                  placeholder="e.g 12"
                  class="outline-none border border-[#a05231]/50 rounded-sm indent-1 py-1"
                />
                <span class="text-[#a05231] font-bold">m<sup>2</sup></span>
              </p>
            </div>
            <div class="font-serif text-[#2a5c56] flex flex-col gap-2 grow">
              <label for="size-field" class="text-md font-semibold">
                Event Space Size:
              </label>
              <p class="flex gap-1 items-center">
                <input
                  type="number"
                  name="size"
                  id="size-field"
                  placeholder="e.g 30"
                  class="outline-none border border-[#a05231]/50 rounded-sm indent-1 py-1"
                />
                <span class="text-[#a05231] font-bold">m<sup>2</sup></span>
              </p>
            </div>
            <div class="font-serif text-[#2a5c56] flex flex-col gap-2 grow">
              <label for="furnitureCount-field" class="text-md font-semibold">
                Number of Furnitures:
              </label>
              <p class="flex gap-2 items-center flex-wrap">
                <input
                  type="number"
                  name="furnitureCount"
                  id="furnitureCount-field"
                  placeholder="e.g 200"
                  class="outline-none border border-[#a05231]/50 rounded-sm indent-1 py-1"
                />
                <span class="text-[#a05231] font-bold">Chairs and Tables</span>
              </p>
            </div>
            <p class="font-serif text-[#2a5c56] flex flex-col gap-2">
              <label for="ventilation-field" class="text-md font-semibold">
                Ventilation Type:
              </label>
              <select
                name="ventilation"
                id="ventilation-field"
                class="outline-none p-2 bg-[#7ab9af]/30"
              >
                <option value="None">&mdash; Choose an Option &mdash;</option>
                <option value="None">NONE</option>
                <option value="Basic">BASIC</option>
                <option value="Good">GOOD</option>
                <option value="Excellent">EXCELLENT</option>
              </select>
            </p>
            <p class="font-serif text-[#2a5c56] flex flex-col gap-2">
              <label for="ss-field" class="text-md font-semibold">
                Sound System:
              </label>
              <select
                name="soundSystem"
                id="ss-field"
                class="outline-none p-2 bg-[#7ab9af]/30"
              >
                <option value="None">&mdash; Choose an Option &mdash;</option>
                <option value="None">NONE</option>
                <option value="Basic">BASIC</option>
                <option value="Good">GOOD</option>
                <option value="Excellent">EXCELLENT</option>
              </select>
            </p>
            <p class="font-serif text-[#2a5c56] flex flex-col gap-2">
              <label for="ventilation-field" class="text-md font-semibold">
                Lighting System:
              </label>
              <select
                name="lightSystem"
                id="ls-field"
                class="outline-none p-2 bg-[#7ab9af]/30"
              >
                <option value="None">&mdash; Choose an Option &mdash;</option>
                <option value="None">NONE</option>
                <option value="Basic">BASIC</option>
                <option value="Good">GOOD</option>
                <option value="Excellent">EXCELLENT</option>
              </select>
            </p>
            <p class="font-serif text-[#2a5c56] flex flex-col gap-2">
              <label for="security-field" class="text-md font-semibold">
                Security Level:
              </label>
              <select
                name="securityStatus"
                id="security-field"
                class="outline-none p-2 bg-[#7ab9af]/30"
              >
                <option value="None">&mdash; Choose an Option &mdash;</option>
                <option value="None">NONE</option>
                <option value="Basic">BASIC</option>
                <option value="Good">GOOD</option>
                <option value="Excellent">EXCELLENT</option>
              </select>
            </p>
          </div>
          <div class="flex gap-3 justify-end">
            <button
              type="button"
              class="p-2 rounded-md shadow-lg bg-[#a05231] text-white"
              id="prev-btn"
            >
              Previous
            </button>
            <button
              class="p-2 rounded-md shadow-lg bg-[#2a5c56] text-white"
              id="submit-btn"
            >
              Submit
            </button>
          </div>
          <hr />
        </fieldset>
        <input type="hidden" name="formType" value="space" />
      </form>
    </main>
    <div
      class="fixed bg-white/70 top-0 bottom-0 left-0 right-0 z-10 flex justify-center items-center hidden"
    >
      <form
        method="post"
        class="flex relative flex-col gap-3 p-3 md:p-5 bg-[#6eb3a9]/60 rounded-lg shadow-md shadow-[#a05231]/30 font-sans text-xl text-[#2a5c56]"
        autocomplete="off"
        id="create-form"
      >
        <span
          class="cursor-pointer shadow-lg rounded-full text-4xl font-rubik bg-white font-bold px-4 py-2 -right-5 -top-5 absolute"
          id="close-form-btn"
          >&times;</span
        >
        <h1 class="font-spray text-3xl text-[#a05231]">
          Create a
          <span
            class="bg-[url('https://uploads-ssl.webflow.com/61cee5eb4d566d3471eca114/61d2f2e602a2a8b328d55188_underline%205.svg')] bg-no-repeat bg-contain bg-bottom"
            >Category</span
          >
        </h1>
        <hr class="mb-4 bg-[#dfb253] w-full h-1 rounded-full border-0" />
        <label for="category_name-field" class="font-semibold"
          >Enter Category Name:</label
        >
        <input
          type="text"
          name="name"
          id="category_name-field"
          class="outline-none rounded-md indent-2 py-1 border-none"
          required
        />
        <label for="category_desc-field" class="font-semibold"
          >Enter Category Description:</label
        >
        <input
          type="text"
          name="desc"
          id="category_desc-field"
          class="outline-none rounded-md indent-2 py-1 border-none"
        />
        <input type="hidden" name="formType" value="category" />
        <button class="mt-4 p-2 rounded-full bg-[#dfb253] font-bold shadow-xl">
          Create Category
        </button>
      </form>
    </div>

    <script src="/scripts/space_form.js"></script>
  </body>
</html>
